* {
    font-family: Rubik;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital@1&display=swap');
@import "./blocks/header";
@import "./blocks/gama";
@import "./blocks/descubre";
@import "./blocks/cuerpo";
@import "./blocks/cuerpo2";
@import "./blocks/footer";
@import "./blocks/listado2";