h3 {
    color: black;
    font-size: 30px;
}

.modelos {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0;
    font-size: 25px;
}

.nav-item {
    color: #00008B;
}

.coches {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
}

.titulo ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    list-style: none;
}

ul li img {
    width: 40vh;
}

.titulos {
    color: #FF4500;
    font-size: 17px;
}

li {
    font-size: 17px;
}

.titulos li img {
    max-width: 17px;
}

